mat-dialog-content{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.mat-dialog-content {
    min-height: 55vh;
    max-height: 55vh;

    min-width: 70%;
    max-width: 90%;
}